// ===========================
// PALETA DE COLORES
// ===========================
$color-primario: #082D0F;
$color-fondo: #DEE5E5;
$color-navbar: #364545;
$color-acento: #BA2D0B;

// ===========================
// TIPOGRAFIA
// ===========================
$font-titulos: 'Poppins', sans-serif;
$font-cuerpo: 'Inter', sans-serif;