@use '../utilities/variables' as *;

.footer {
    border-top: 2px solid $color-primario;
    margin-top: 40px;
    padding-top: 30px;

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        align-items: center;
    }
}