@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.navbar {
    background-color: $color-navbar;

    &-brand img {
        height: 150px;
        width: auto;
        max-width: 100%;
        border: 2px solid black;
        border-radius: 12px;
        display: block;

        @include respond(576px) {
            height: 90px;
        }
    }
}