@use '../utilities/variables' as *;

.navbar-nav {
    .nav-link {
        color: $color-fondo;
        transition: color 0.2s ease;

        &:hover {
            color: $color-acento;
        }
    }
}