@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.btn {
    @extend %interactivo-base;
    background-color: $color-primario;
    color: white;

    &:hover {
        opacity: 0.85;
    }
}

.form-control {
    @extend %interactivo-base;
    border: 1px solid black;
    cursor: text;
}